:root {
  --white-50: #fcfcfc;
  --space-grotesk: "Space Grotesk", sans-serif;
  --charcoal-800: #221e1f;
  --dynamic-view-height: 100svh;
  --200: #c6c6c6;
  --blue: #8da5ff;
  --orvos: #485094;
  --sdg: #00aed9;
  --sprout: #e26a6a;
  --worlds: #321bdd;
  --icheon: #1d4599;
  --project-l: #97d92e;
  --kivo: #e8d31d;
  --400: #6f6f6f;
  --600: #393939;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--white-50);
  font-family: var(--space-grotesk);
  color: var(--charcoal-800);
  font-size: 24px;
  line-height: 100%;
}

.body {
  color: var(--charcoal-800);
  font-size: 20px;
  line-height: 108%;
}

.body.space-above {
  padding-top: 24px;
}

.body.white {
  color: var(--white-50);
}

.image {
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 4px 7px 8px rgba(57, 57, 57, .16);
}

.image.video-mockup {
  z-index: 0;
  box-shadow: none;
  mix-blend-mode: normal;
  padding-top: 0;
  position: relative;
}

.image._50 {
  max-width: 50%;
  box-shadow: none;
}

.container {
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 6%;
  padding-right: 6%;
}

.container.landing {
  max-width: 1920px;
  justify-content: space-around;
  display: flex;
  position: static;
}

.container.nav-bar-container {
  mix-blend-mode: normal;
}

.container.project-landing-wide {
  flex: 1;
  align-self: center;
  padding-left: 0%;
  padding-right: 0%;
}

.container.sml {
  flex: 1;
  padding-left: 2%;
  padding-right: 2%;
}

.container.landing {
  flex: 1;
  justify-content: center;
  display: block;
}

.container._8 {
  min-height: var(--dynamic-view-height);
  padding-left: 5%;
  padding-right: 5%;
}

.heading-1 {
  color: var(--charcoal-800);
  text-align: left;
  letter-spacing: -3px;
  font-family: Space Grotesk, sans-serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 100%;
}

.heading-1._404 {
  color: var(--white-50);
}

.heading-1.white {
  color: var(--white-50);
  margin-top: 0;
}

.heading-1.centered {
  text-align: center;
}

.heading-3 {
  font-family: Space Grotesk, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 105%;
}

.heading-3.white {
  color: var(--white-50);
}

.navbar {
  z-index: 999;
  object-fit: fill;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  position: fixed;
  top: auto;
  bottom: 3%;
  left: 0%;
  right: 0%;
  overflow: visible;
}

.nav-menu {
  border: 1px solid var(--200);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: #191919;
  border-radius: 10px;
  flex: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
  display: flex;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, .2);
}

.introduction {
  min-height: var(--dynamic-view-height);
  background-color: var(--charcoal-800);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  align-items: center;
  position: static;
}

.heading-4 {
  letter-spacing: 1px;
  text-indent: 0;
  text-transform: uppercase;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.heading-4.orvos {
  color: var(--orvos);
  line-height: 100%;
  text-decoration: none;
}

.heading-4.sdg {
  color: var(--sdg);
  line-height: 120%;
}

.heading-4.sprout {
  color: var(--sprout);
}

.heading-4.worlds {
  color: var(--worlds);
}

.heading-4.icheon {
  color: var(--icheon);
}

.heading-4.white {
  color: var(--white-50);
}

.heading-4.paragraph-space {
  padding-top: 32px;
}

.heading-4._200 {
  color: var(--200);
}

.heading-4.project-l {
  color: var(--project-l);
}

.heading-4.kivo {
  color: var(--kivo);
}

.header-line {
  width: 64px;
  height: 2px;
  background-color: var(--white-50);
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
}

.header-line.orvos-line {
  background-color: var(--orvos);
}

.header-line.sdg-line {
  background-color: var(--sdg);
}

.header-line.sprout-line {
  border: 1px solid var(--sprout);
  background-color: var(--sprout);
}

.header-line.worlds-line {
  background-color: var(--worlds);
}

.header-line.icheon-line {
  background-color: var(--icheon);
}

.header-line.white {
  background-color: var(--white-50);
}

.header-line._200 {
  background-color: var(--200);
}

.header-line.porject-l-line {
  background-color: var(--project-l);
}

.header-line.black {
  background-color: var(--charcoal-800);
}

.header-line.kivo-line {
  background-color: var(--kivo);
}

.paragraph {
  color: var(--white-50);
  flex-direction: column;
  margin-bottom: 0;
  padding-top: 32px;
  font-family: Space Grotesk, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
  display: block;
}

.social-links {
  font-family: var(--space-grotesk);
  color: var(--white-50);
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: url('../images/share-icon.svg');
  background-position: 130%;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-right: 32px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s cubic-bezier(.215, .61, .355, 1);
  display: block;
}

.social-links:hover {
  background-position: 100%;
}

.social-links._200 {
  color: var(--200);
}

.social-links.black {
  color: var(--charcoal-800);
  background-image: url('../images/share-icon-blk.svg');
}

.contact {
  flex-direction: column;
  flex: 0 auto;
  align-items: flex-start;
  margin-top: 42px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.intro-contact {
  min-height: var(--dynamic-view-height);
  min-width: 50%;
  border-right: 1px solid var(--white-50);
  border-left: 2px solid var(--white-50);
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
}

.social {
  flex-direction: column;
  flex: 0 auto;
  align-items: flex-start;
  display: flex;
}

.social.footer-edits {
  flex: 0 auto;
  padding-right: 24px;
}

.projects {
  justify-content: center;
  align-items: flex-start;
}

.heading-5 {
  max-width: 32ch;
  font-family: var(--space-grotesk);
  font-size: 16px;
  font-weight: 600;
  line-height: 124%;
  display: block;
}

.heading-5.white {
  color: var(--white-50);
}

.body-lrg-text {
  max-width: 100%;
  color: var(--white-50);
  padding-top: 24px;
  line-height: 120%;
}

.body-lrg-text.projectcard {
  color: var(--white-50);
  padding-top: 0;
  font-size: 18px;
}

.body-lrg-text.t72 {
  padding-top: 72px;
}

.body-lrg-text.black {
  color: var(--charcoal-800);
  font-weight: 500;
}

.body-lrg-text.black.centered {
  text-align: center;
  padding-top: 14px;
}

.heading-2 {
  font-family: var(--space-grotesk);
  color: var(--charcoal-800);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: 600;
  line-height: 100%;
}

.heading-2.orvos-coloured {
  width: auto;
  color: var(--orvos);
}

.heading-2.sdg-coloured {
  color: var(--sdg);
}

.heading-2.sprout-coloured {
  color: var(--sprout);
  font-family: Work Sans, sans-serif;
}

.heading-2.worlds-coloured {
  color: var(--worlds);
}

.heading-2.icheon-coloured {
  color: var(--icheon);
}

.heading-2.white {
  color: var(--white-50);
}

.heading-2.project-l-coloured {
  color: var(--project-l);
}

.heading-2.kivo-coloured {
  color: var(--kivo);
}

.contain-social {
  margin-top: 20px;
  display: flex;
}

.contain-social.footer-edits {
  margin-top: 10px;
  font-size: 16px;
}

.intro {
  min-height: 100svh;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  align-items: flex-end;
  padding-bottom: 8%;
  display: flex;
}

.intro.sprout {
  background-color: var(--sprout);
  padding-bottom: 0%;
  display: block;
  overflow: hidden;
}

.intro.orvos {
  background-color: var(--orvos);
}

.intro.sdg {
  background-color: var(--sdg);
}

.intro.worlds {
  background-color: var(--worlds);
}

.intro.project-l {
  background-color: var(--project-l);
}

.intro.kivo {
  background-color: var(--kivo);
}

.intro.icheon {
  background-color: var(--icheon);
}

.prj-desc {
  min-width: 40%;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  align-items: flex-start;
  padding-bottom: 32px;
  padding-right: 42px;
  display: block;
}

.body-sml-text {
  padding-top: 8px;
  font-size: 18px;
  font-weight: 400;
}

.body-sml-text.problem {
  width: 64ch;
  max-width: 100%;
  padding-top: 32px;
}

.body-sml-text.card-text {
  flex: 1;
  margin-bottom: 0;
  font-size: 14px;
}

.body-sml-text.card-text.spacing {
  min-height: 60%;
  flex: none;
  padding: 20px 24px 24px;
}

.body-sml-text.white {
  font-family: var(--space-grotesk);
  color: var(--white-50);
}

.prjlanding-img {
  width: 100%;
  max-width: 90%;
}

.prjlanding-img.round {
  border-radius: 2%;
}

.problem-roles {
  min-height: 100svh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.problem {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.problem-sort {
  flex-direction: column;
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
}

.position-info-grid {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  padding-top: 32px;
  display: grid;
}

.position-text {
  max-width: 16ch;
  font-family: var(--space-grotesk);
  color: var(--charcoal-800);
  padding-top: 16px;
  font-size: 16px;
  line-height: 120%;
  text-decoration: none;
}

.project-links {
  width: 24%;
  flex-direction: column;
  flex: 0 auto;
  align-items: flex-start;
  display: flex;
}

.prj-link {
  display: flex;
}

.links-text {
  color: var(--charcoal-800);
  background-image: url('../images/share-icon-blk.svg');
  background-position: 130%;
  background-repeat: no-repeat;
  background-size: 12px;
  padding-bottom: 4px;
  padding-right: 20px;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.links-text:hover {
  background-position: 100%;
}

.links {
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  display: block;
}

.challenge {
  min-height: 100svh;
  background-color: var(--orvos);
  justify-content: center;
  align-items: center;
  padding-top: 232px;
  padding-bottom: 232px;
  display: flex;
}

.challenge.sdg-coloured {
  background-color: var(--sdg);
}

.challenge.sprout-coloured {
  background-color: var(--sprout);
}

.challenge.worlds {
  background-color: var(--worlds);
}

.challenge.icheon {
  background-color: var(--icheon);
}

.challenge.project-l {
  background-color: var(--project-l);
}

.challenge.kivo {
  background-color: var(--kivo);
}

.solution {
  margin-top: 100px;
}

.project-text-desc {
  justify-content: space-between;
  display: block;
}

.video {
  margin-top: 64px;
  display: block;
}

.process {
  margin-top: 100px;
}

.project-text_template {
  padding-top: 32px;
  padding-bottom: 32px;
}

.project-text_template.textbased {
  padding-bottom: 0;
}

.project_content {
  flex-direction: column;
  align-items: stretch;
  margin-top: 72px;
  display: flex;
}

.project_content.research, .project_content.solution {
  margin-top: 0;
}

.project_content.visual-design {
  align-items: stretch;
  display: block;
}

.project_content.home, .project_content.patient-emr {
  margin-top: 0;
}

.project_content.personas {
  align-items: stretch;
}

.project_content.video-mockup, .project_content.onboarding, .project_content.organization, .project_content.website {
  margin-top: 0;
}

.source-link {
  max-width: 20ch;
  min-width: 0;
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.source-link:hover {
  background-color: var(--600);
  color: var(--white-50);
}

.card-link {
  color: var(--charcoal-800);
  object-fit: fill;
  flex: 1;
  align-items: flex-end;
  padding-top: 20px;
  font-size: 18px;
  display: flex;
}

.competitors {
  margin-top: 72px;
}

.competitor-logo {
  width: 100%;
  border-radius: 8px 8px 0 0;
  flex: none;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.competitor-logo.tia {
  background-color: #b3ddb0;
}

.competitor-logo.referralmd {
  background-color: #57bcc2;
}

.competitor-logo.maple {
  background-color: #fe9d88;
}

.work-block {
  box-shadow: none;
  color: var(--charcoal-800);
  border-radius: 20px;
  margin-top: 100px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
}

.intro-container {
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.appointments {
  flex-direction: column;
  align-items: stretch;
  margin-top: 72px;
  display: flex;
}

.low-fi {
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
  display: flex;
}

.visual-design {
  flex-direction: column;
  justify-content: center;
  margin-top: 72px;
  display: flex;
}

.mobile-prototype {
  justify-content: center;
  margin-top: 100px;
}

.mockup {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.scheduler-webapp {
  flex-direction: column;
  margin-top: 72px;
  display: flex;
}

.patient-overview {
  flex-direction: column;
  align-items: stretch;
  margin-top: 72px;
  display: flex;
}

.webapp-prototype {
  margin-top: 100px;
}

.lab-results {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 72px;
  display: flex;
}

.patient-emr {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.in-line-link {
  color: var(--white-50);
  font-style: italic;
}

.in-line-link:hover {
  background-color: var(--blue);
  color: var(--charcoal-800);
}

.in-line-link.sdg {
  color: var(--sdg);
}

.in-line-link.sdg:hover {
  background-color: var(--600);
  color: var(--white-50);
}

.in-line-link.worlds {
  color: var(--worlds);
}

.in-line-link.worlds:hover {
  background-color: var(--600);
  color: var(--white-50);
}

.in-line-link.sproutbox {
  color: var(--sprout);
  font-style: italic;
}

.in-line-link.sproutbox:hover {
  background-color: var(--600);
  color: var(--white-50);
}

.in-line-link.sproutbox.inverse {
  color: var(--white-50);
}

.nav-wrapper {
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-content {
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 24px;
  display: flex;
}

.other-work {
  margin-top: 72px;
}

.list {
  padding-left: 24px;
}

.rough-work {
  margin-top: 64px;
}

.link-4 {
  color: var(--sdg);
}

.video-mockup {
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.video-2 {
  max-width: 96%;
  flex-wrap: nowrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 82px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.div-block-19 {
  width: 100%;
  max-width: 800px;
  flex: 0 auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: -636px;
  overflow: visible;
}

.footer {
  min-height: var(--dynamic-view-height);
  background-color: var(--charcoal-800);
  padding-top: 72px;
  padding-bottom: 64px;
  display: flex;
}

.header-line-2 {
  width: 64px;
  height: 2px;
  background-color: var(--white-50);
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
}

.header-line-2.white {
  background-color: var(--white-50);
}

.brainstorm, .final-sketches, .final-product, .website-app, .low-fi-wireframes {
  margin-top: 72px;
}

.website-prototype {
  margin-top: 100px;
}

.onboarding, .home-page, .system-management, .manual, .marketplace, .personas {
  margin-top: 72px;
}

.about-toggle {
  display: block;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 100%;
  color: var(--white-50);
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 42px;
  font-family: Work Sans, sans-serif;
  display: flex;
}

.footer-link {
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 32px;
  display: flex;
}

._404-p {
  text-align: left;
  font-size: 24px;
}

.landing-page {
  min-height: var(--dynamic-view-height);
  background-color: var(--blue);
  flex-direction: row;
  align-items: center;
  display: flex;
}

.final-package, .creation, .reflection {
  margin-top: 100px;
}

.final-works {
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  display: flex;
}

.redirect {
  z-index: 999;
  height: 100vh;
  background-color: var(--charcoal-800);
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.redirect-link {
  color: var(--white-50);
}

.landingtext-container {
  min-width: 60%;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 42px;
  display: flex;
}

.tags-container {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 32px;
  display: flex;
}

.tags-container.card-pad {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-top: 20px;
}

.tag {
  border: 2px solid #000;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
}

.tag.style-2 {
  border-width: 2px;
  border-color: var(--white-50);
  background-color: var(--charcoal-800);
}

.tag-text {
  font-size: 18px;
  font-weight: 600;
}

.tag-text.white {
  color: var(--white-50);
  font-size: 16px;
}

.dino {
  min-width: 40%;
  align-self: flex-end;
  align-items: flex-start;
}

.dino:hover {
  cursor: pointer
}

.landing-wrapper {
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 32px;
  display: flex;
}

.project-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-wrap: wrap;
  align-content: space-between;
  padding-bottom: 72px;
  display: flex;
}

.project-card {
  width: 49%;
  height: 450px;
  max-height: 900px;
  min-height: 300px;
  background-color: var(--charcoal-800);
  border-radius: 4%;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 28px;
  padding-right: 28px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.project-card.orvos {
  aspect-ratio: auto;
  background-color: var(--orvos);
  background-image: url('../images/Orvos.webp');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 90%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.project-card.orvos:hover {
  background-color: var(--charcoal-800);
  background-position: -1000% 100%;
}

.project-card.kivo {
  background-color: var(--kivo);
  color: var(--charcoal-800);
  background-image: url('../images/Kivo.webp');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 60%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.project-card.kivo:hover {
  background-color: var(--charcoal-800);
  color: var(--white-50);
  background-position: -250% 100%;
}

.project-card.project-l {
  background-color: var(--project-l);
  color: var(--charcoal-800);
  background-image: url('../images/Project-L.webp');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 90%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.project-card.project-l:hover {
  background-color: var(--charcoal-800);
  color: var(--white-50);
  background-position: -800% 100%;
}

.project-card.sdg {
  background-color: var(--sdg);
  color: var(--charcoal-800);
  background-image: url('../images/SDG.webp');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 75%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.project-card.sdg:hover {
  background-color: var(--charcoal-800);
  color: var(--white-50);
  background-position: -800% 100%;
}

.card-animate {
  height: 60%;
  object-fit: contain;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;
  display: flex;
}

.card-animate.orvos {
  align-self: center;
}

.share-button {
  max-width: 14%;
  min-width: 10%;
  align-self: flex-end;
}

.projectinfo {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 32px;
  display: flex;
}

.link-inline:hover {
  background-color: var(--600);
  color: var(--white-50);
}

.link-inline.orvos {
  color: var(--orvos);
}

.link-inline.orvos:hover {
  color: var(--white-50);
}

.link-inline.kivo {
  color: var(--kivo);
}

.prototype-banner {
  background-color: var(--charcoal-800);
  margin-bottom: 32px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.prototype-banner.orvos {
  background-color: var(--orvos);
}

.prototype-banner.sdg {
  background-color: var(--sdg);
}

.prototype-banner.sprout {
  background-color: var(--sprout);
}

.prototype-banner.project-l {
  background-color: var(--project-l);
}

.prototype-banner.kivo {
  background-color: var(--kivo);
}

.wrapper-vertical {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.landing-top {
  flex-direction: column;
  justify-content: space-around;
}

.project-top {
  min-height: 40%;
}

.default-button {
  border: 3px solid var(--white-50);
  background-image: url('../images/share-icon.svg');
  background-position: 120%;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 4px;
  margin-top: 24px;
  padding: 10px 32px;
  text-decoration: none;
  transition: all .4s cubic-bezier(.215, .61, .355, 1);
}

.default-button:hover {
  background-position: 95%;
  padding-left: 16px;
  padding-right: 48px;
}

.default-button.orvos {
  border-color: var(--orvos);
  background-color: var(--orvos);
}

.default-button.sdg {
  border-color: var(--sdg);
  background-color: var(--sdg);
}

.default-button.world {
  border-color: var(--worlds);
  background-color: var(--worlds);
}

.default-button.icheon {
  border-color: var(--icheon);
  background-color: var(--icheon);
}

.default-button.sprout {
  border-color: var(--sprout);
  background-color: var(--sprout);
}

.default-button.black {
  border-color: var(--charcoal-800);
  background-image: url('../images/share-icon-blk.svg');
}

.default-button.project-l {
  border-color: var(--project-l);
  background-color: var(--project-l);
}

.default-button.kivo {
  border-color: var(--kivo);
  background-color: var(--kivo);
}

.button-text {
  color: var(--white-50);
  font-weight: 600;
}

.button-text.black {
  color: var(--charcoal-800);
}

::-moz-selection { /* Code for Firefox */
  color: var(--charcoal-800);
  background: var(--white-50);
}

::selection {
  color: var(--charcoal-800);
  background: var(--white-50);
}

.progress-bar {
  z-index: 99;
  width: 100svw;
  height: 1.5%;
  background-color: var(--charcoal-800);
  transform-origin: 0%;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.btn---content {
  position: relative;
  overflow: hidden;
}

.navbtn---text {
  transform-origin: 100% 100%;
}

.navbtn---text.x-static {
  z-index: 1;
  text-transform: uppercase;
  position: relative;
}

.navbtn---text.x-hover {
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.navbtn {
  color: var(--white-50);
  padding: 8px 32px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all .2s;
  position: relative;
}

.navbtn:hover {
  background-color: var(--400);
  color: var(--white-50);
  border-radius: 6px;
}

.navbtn.w--current {
  background-color: var(--white-50);
  color: var(--charcoal-800);
  border-radius: 6px;
  font-weight: 600;
}

.other-projects {
  min-height: 60svh;
}

.text-vwrapper {
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-vwrapper.footer-text {
  padding-right: 50%;
}

.pfp {
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.landing-intro {
  min-height: var(--dynamic-view-height);
  border-left: 2px solid var(--white-50);
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-self: center;
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
}

.hamburger-menu-hm8 {
  background-color: var(--charcoal-800);
  border-radius: 50%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 18px;
  display: none;
}

.hamburger-menu-hm8.w--open {
  background-color: rgba(0, 0, 0, 0);
}

.top-bar-hm8, .middle-bar-hm8, .bottom-bar-hm8 {
  width: 25px;
  height: 3px;
  background-color: var(--white-50);
  margin-top: 6px;
  margin-bottom: 6px;
}

.cross-bar-1-hm8, .cross-bar-2-hm8 {
  width: 30px;
  height: 2px;
  background-color: var(--blue);
  margin-top: 6px;
  margin-bottom: 6px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 33px;
  left: auto;
  right: auto;
}

.tabs-menu-wrapper {
  background-color: var(--charcoal-800);
  border-radius: 8px;
  align-items: center;
  padding: 10px;
  display: flex;
}

.tabs-content-wrapper {
  margin-top: 1em;
  overflow: visible;
}

.tab-content-inner {
  justify-content: center;
  align-items: center;
  display: flex;
}

.tabs-nav-item {
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  flex: 1;
  padding: 16px 32px;
  transition: all .3s;
  position: relative;
}

.tabs-nav-item:hover {
  background-color: var(--400);
}

.tabs-nav-item.w--current {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 500;
}

.tabs-nav-item._02.w--current {
  background-color: var(--white-50);
}

.tabs-nav-item._01.w--current {
  background-color: var(--white-50);
  color: var(--charcoal-800);
}

.tabs-nav-item._03.w--current, .tabs-nav-item._04.w--current {
  background-color: var(--white-50);
}

.tabs-nav-background {
  z-index: 0;
  border-radius: 8px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 20px .7em -7px rgba(0, 0, 0, .57);
}

.tabs-nav-text {
  z-index: 1;
  position: relative;
}

.hamburg-close-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 40px;
  bottom: auto;
  left: auto;
  right: 50px;
}

.hamburg-menu-wrapper {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.hamburg-close-icon-bar-wrapper {
  width: 30px;
}

.hamburg-close-icon-bar-wrapper.one {
  transform: rotate(45deg);
}

.hamburg-close-icon-bar-wrapper.two {
  position: absolute;
  transform: rotate(135deg);
}

.hamburg-menu-close-icon-bar {
  width: 100%;
  height: 2px;
  background-color: var(--white-50);
}

.hamburg-menu {
  z-index: 990;
  height: 100svh;
  background-color: var(--charcoal-800);
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 100%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.hamburg-link {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: flex;
}

.hamburg-bg-circle {
  z-index: 980;
  width: 3vw;
  height: 3vw;
  background-color: var(--charcoal-800);
  border-radius: 50%;
  display: none;
  position: fixed;
  top: auto;
  bottom: -1.5vw;
  left: auto;
  right: -1.5vw;
}

.about {
  min-height: var(--dynamic-view-height);
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 90px;
}

.intro-wrapper {
  max-width: 100%;
  display: flex;
}

.vwrapper {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.vwrapper.left {
  max-width: 40%;
  flex: 1;
  align-items: stretch;
  padding-right: 42px;
}

.vwrapper.right {
  max-width: 60%;
  flex: none;
  align-items: stretch;
  padding-left: 20px;
}

.vwrapper.bottom {
  flex: 1;
  justify-content: flex-end;
}

.play {
  min-height: var(--dynamic-view-height);
  background-color: var(--blue);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.play-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.intro-about {
  min-height: var(--dynamic-view-height);
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  display: flex;
}

.introlanding-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 24%;
  padding-right: 24%;
  display: flex;
}

.footer-wrapper {
  min-height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 42px;
  display: flex;
}

.marquee-wrapper {
  width: 100%;
  background-color: var(--600);
  color: #dfdfdf;
  margin-top: 8%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.marquee-icon {
  width: 2.5vw;
}

.marquee-text {
  white-space: nowrap;
  font-size: 2vw;
  line-height: 1.5em;
}

.marquee-container {
  width: 100vw;
  grid-column-gap: 4.5vw;
  grid-row-gap: 4.5vw;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.marquee-content {
  grid-column-gap: 2.2vw;
  grid-row-gap: 2.2vw;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;
}

.about-body {
  background-color: var(--blue);
}

.card-wrapper-grid {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 25%;
  grid-auto-flow: row;
  align-items: start;
}

.card-wrapper-grid._2-2 {
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 2fr;
  grid-auto-flow: row;
}

.card-small {
  min-height: 100%;
  background-color: var(--white-50);
  border: 1px solid #f2f3ff;
  border-radius: 15px;
  flex-direction: column;
  padding: 20px;
  display: flex;
  box-shadow: 0 20px 30px -15px rgba(29, 1, 80, .1);
}

.card-small.no-padding {
  justify-content: space-between;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.style-label {
  color: var(--400);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.basic-column {
  padding-left: 5px;
  padding-right: 5px;
}

.tag-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.article {
  margin-bottom: 10px;
}

.article-alt-cover {
  height: 270px;
  background-image: none;
  background-position: 50%;
  background-size: cover;
  border-radius: 8px;
  margin-top: 26px;
  padding-bottom: 0;
}

.article-alt-cover.article-4-content {
  background-image: url('../images/map-2.jpg');
  background-position: 50%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 26px;
}

.article-alt-cover.article-3-content {
  background-image: url('../images/map-1.jpg');
}

.article-alt-cover.article-5-content {
  background-image: url('../images/map-4.jpg');
  background-position: 50%;
  background-size: cover;
}

.article-alt-cover.article-2-content {
  background-image: url('../images/etickets.jpg');
  margin-top: 0;
  margin-bottom: 26px;
}

.article-alt-cover.article-2-content.world {
  background-image: url('../images/Merch-Promo-Website-Template-collection_hero_banner_desktop_2560x722.webp');
  background-position: 0%;
}

.article-alt-cover.article-4-content {
  background-image: none;
  background-position: 50%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 26px;
}

.article-alt-cover.article-4-content.world {
  height: 500px;
  background-image: url('../images/openCapsule.webp');
  margin-bottom: 0;
}

.article-alt-cover.article-1-content {
  background-image: url('../images/poster-2.jpg');
}

.article-alt-cover.article-1-content.world {
  background-image: url('../images/Merch-Promo-Website-Template-collection_hero_banner_desktop_2560x722.webp');
  background-position: 100%;
}

.article-alt-cover.article-3-content.world {
  height: 500px;
  background-image: url('../images/closedCapsule.webp');
  background-size: cover;
}

.article-alt-cover.article-5-content {
  background-image: none;
}

.article-alt-cover.article-5-content.world {
  height: 500px;
  background-image: url('../images/emptyCapsule.webp');
}

.content-wrapper {
  margin-bottom: 50px;
}

.playprj-wrapper {
  padding-top: 72px;
}

.hover-parent {
  width: 100%;
  border-top: 2px solid #2e2a27;
  border-bottom: 2px solid #2e2a27;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.hover-parent.playprj-component {
  border-top-style: none;
  border-bottom-style: none;
}

.is-main {
  z-index: 3;
  letter-spacing: -.07em;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  position: relative;
}

.is-main.backgorund_image {
  width: 100%;
  border-style: solid;
  border-width: 2px 1px 1px;
  border-color: var(--charcoal-800);
  cursor: pointer;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.is-main.border-null {
  z-index: 1;
  width: 100%;
  cursor: pointer;
  border-top: 2px #2e2a27;
  border-bottom: 2px #2e2a27;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.text_hover {
  z-index: 10;
  width: 100%;
  position: relative;
}

.link-block {
  width: 100%;
  color: var(--charcoal-800);
  text-decoration: none;
}

.link-block.playprj {
  border-top: 2px solid var(--charcoal-800);
}

.text-block {
  line-height: 100%;
}

.hover_image-2 {
  height: 15rem;
  border-radius: 15px;
  position: absolute;
  right: 5%;
}

.play-title {
  padding-bottom: 4px;
}

.nav-bg {
  z-index: 0;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.archived-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.project-title {
  padding-top: 72px;
  padding-bottom: 8px;
}

.prjlanding-contain {
  min-height: var(--dynamic-view-height);
  display: flex;
}

.landingimg-contain {
  min-width: 60%;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
  margin-bottom: -20px;
  display: flex;
}

.landingimg-contain.middle {
  align-self: center;
}

@media screen and (min-width: 1920px) {
  .body {
    font-size: 28px;
    line-height: 120%;
  }

  .image {
    border-radius: 20px;
    position: relative;
  }

  .container {
    max-width: 1920px;
    object-fit: contain;
    padding-left: 16%;
    padding-right: 16%;
    display: block;
    position: static;
  }

  .container.landing {
    justify-content: space-around;
  }

  .container.project-landing-wide {
    padding-left: 4%;
    padding-right: 4%;
  }

  .container.sml {
    padding-left: 5%;
    padding-right: 5%;
  }

  .container._8, .container.about-container {
    padding-left: 8%;
    padding-right: 8%;
  }

  .container.archived {
    padding-left: 5%;
    padding-right: 5%;
  }

  .heading-1 {
    font-size: 164px;
    display: block;
  }

  .heading-1.white {
    font-size: 124px;
  }

  .heading-3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
  }

  .heading-3.white {
    line-height: 132%;
  }

  .nav-menu {
    padding: 14px;
  }

  .introduction {
    position: static;
  }

  .heading-4 {
    font-size: 28px;
  }

  .heading-4.white {
    font-size: 32px;
  }

  .paragraph {
    max-width: 20ch;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 125%;
  }

  .paragraph.redirect-text {
    max-width: none;
  }

  .social-links {
    background-size: 25px;
    font-size: 32px;
  }

  .social-links:hover {
    background-size: 25px;
  }

  .contact {
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .intro-contact {
    max-width: 50%;
    flex: none;
    justify-content: center;
    padding-left: 72px;
    padding-right: 72px;
  }

  .social {
    order: 0;
    align-self: auto;
    display: flex;
  }

  .heading-5 {
    font-size: 28px;
    line-height: 34px;
  }

  .body-lrg-text {
    font-size: 36px;
    font-weight: 500;
  }

  .body-lrg-text.projectcard {
    font-size: 32px;
  }

  .body-lrg-text.t72 {
    padding-top: 100px;
  }

  .heading-2 {
    font-size: 64px;
    line-height: 100px;
  }

  .heading-2.white {
    line-height: 104%;
  }

  .contain-social {
    margin-top: 32px;
  }

  .prj-desc {
    padding-right: 64px;
  }

  .body-sml-text {
    font-size: 24px;
  }

  .body-sml-text.card-text {
    font-size: 28px;
    line-height: 110%;
  }

  .body-sml-text.card-text.spacing {
    height: 50%;
    padding: 32px;
    font-size: 28px;
    line-height: 110%;
  }

  .body-sml-text.white.footertext {
    font-size: 28px;
  }

  .problem-roles {
    margin-top: 72px;
    margin-bottom: 72px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .problem-sort {
    padding-left: 100px;
    padding-right: 100px;
  }

  .position-info-grid {
    padding-top: 148px;
  }

  .position-text {
    font-size: 24px;
  }

  .links-text {
    padding-bottom: 24px;
    font-size: 24px;
  }

  .challenge {
    padding-top: 400px;
    padding-bottom: 400px;
  }

  .process {
    margin-top: 150px;
  }

  .project-text_template {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .source-link {
    font-size: 24px;
  }

  .source-link:hover {
    background-color: var(--400);
    color: var(--white-50);
  }

  .card-link {
    align-items: stretch;
    display: block;
  }

  .competitors {
    margin-top: 100px;
  }

  .competitor-logo {
    height: 50%;
  }

  .work-block {
    margin-top: 150px;
    display: block;
  }

  .appointments, .low-fi, .visual-design {
    margin-top: 100px;
  }

  .mobile-prototype {
    margin-top: 150px;
  }

  .scheduler-webapp, .patient-overview {
    margin-top: 100px;
  }

  .webapp-prototype {
    margin-top: 150px;
  }

  .lab-results {
    margin-top: 100px;
  }

  .other {
    padding-left: 72px;
    padding-right: 32px;
  }

  .footer {
    padding-top: 100px;
  }

  .header-line-2 {
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer-link {
    padding-bottom: 64px;
  }

  ._404-p {
    font-size: 42px;
  }

  .creation {
    margin-top: 150px;
  }

  .landingtext-container {
    padding-top: 64px;
  }

  .tags-container {
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    margin-top: 42px;
  }

  .tags-container.card-pad {
    margin-top: 24px;
  }

  .tag {
    border-width: 3px;
    padding: 20px 32px;
  }

  .tag-text {
    font-size: 32px;
  }

  .tag-text.white {
    font-size: 24px;
  }

  .project-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: space-around;
    display: flex;
  }

  .project-card {
    height: 900px;
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .project-card.kivo {
    background-size: 75%;
  }

  .card-animate {
    padding-top: 42px;
  }

  .share-button {
    max-width: 20%;
    min-width: 15%;
  }

  .projectinfo {
    padding-bottom: 42px;
  }

  .prototype-banner.orvos {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .default-button {
    background-size: 30px;
    margin-top: 28px;
    padding: 24px 48px;
  }

  .default-button:hover {
    padding-left: 16px;
    padding-right: 80px;
  }

  .button-text {
    font-size: 42px;
  }

  .btn---content {
    font-weight: 500;
  }

  .navbtn {
    padding: 12px 42px;
    font-size: 28px;
    text-decoration: none;
  }

  .text-vwrapper {
    height: 100%;
  }

  .landing-intro {
    padding-left: 48px;
    padding-right: 48px;
  }

  .tabs-nav-item {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
  }

  .introlanding-wrapper {
    padding-left: 12%;
    padding-right: 12%;
  }

  .footer-wrapper {
    padding-bottom: 164px;
  }

  .card-wrapper-grid {
    grid-template-rows: 1fr 1fr;
  }

  .card-small {
    padding: 32px;
    box-shadow: 12px 16px 18px -12px rgba(0, 0, 0, .2);
  }

  .text-block {
    font-size: 6rem;
    line-height: 100%;
  }

  .landingimg-contain {
    padding-top: 5%;
  }
}

@media screen and (max-width: 991px) {
  .body.white, .body.prjlanding-desc {
    display: none;
  }

  .image {
    box-shadow: 0 0 11px 2px rgba(0, 0, 0, .15);
  }

  .image._50 {
    max-width: 30%;
  }

  .container {
    left: 0;
  }

  .container.landing {
    padding-right: 20px;
  }

  .container.project-landing-wide {
    padding-left: 8%;
    padding-right: 8%;
  }

  .container.landing {
    padding-right: 10%;
  }

  .container.about-container {
    padding-left: 12%;
    padding-right: 12%;
  }

  .heading-1 {
    margin-bottom: 12px;
    font-size: 64px;
  }

  .heading-1.white {
    text-align: center;
    margin-bottom: 0;
  }

  .heading-3 {
    font-size: 28px;
  }

  .navbar {
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .nav-menu {
    background-color: var(--blue);
  }

  .heading-4 {
    font-size: 14px;
  }

  .paragraph {
    padding-top: 32px;
    font-size: 18px;
  }

  .social-links {
    font-size: 14px;
  }

  .contact {
    justify-content: flex-start;
  }

  .intro-contact {
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    padding-top: 64px;
  }

  .heading-5 {
    font-size: 16px;
  }

  .heading-5.white {
    display: block;
  }

  .body-lrg-text.projectcard {
    max-height: 14ch;
  }

  .heading-2 {
    color: var(--charcoal-800);
  }

  .heading-2.white {
    font-size: 32px;
    display: none;
  }

  .contain-social.footer-edits {
    margin-top: 18px;
  }

  .intro {
    height: auto;
  }

  .prj-desc {
    min-width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 32px;
    padding-right: 0;
    display: flex;
  }

  .prjlanding-img {
    max-width: 100%;
  }

  .problem-roles {
    height: auto;
    padding-top: 100px;
    padding-bottom: 142px;
  }

  .problem-sort {
    padding-left: 64px;
    padding-right: 64px;
  }

  .links {
    text-decoration: underline;
  }

  .competitor-logo {
    height: 50%;
    flex: none;
  }

  .work-block {
    margin-top: 72px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, .15);
  }

  .div-block-19 {
    max-width: 700px;
    top: -562px;
  }

  .footer {
    padding-bottom: 20px;
  }

  ._404-p {
    font-size: 18px;
  }

  .landing-page {
    height: 100%;
    padding-bottom: 124px;
  }

  .tags-container {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .tag-text {
    font-size: 16px;
  }

  .text-vwrapper.footer-text {
    padding-right: 30%;
  }

  .hamburger-menu-hm8 {
    border: 2px solid var(--white-50);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: block;
    position: fixed;
    bottom: 3%;
    right: 3%;
  }

  .tabs-nav-item {
    font-size: 18px;
  }

  .hamburg-menu {
    display: flex;
    top: 100%;
  }

  .hamburg-bg-circle {
    display: block;
  }

  .intro-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .vwrapper.left {
    max-width: 100%;
    padding-right: 0;
  }

  .vwrapper.right {
    max-width: 100%;
    padding-top: 42px;
    padding-left: 0;
  }

  .introlanding-wrapper {
    padding-left: 16%;
    padding-right: 16%;
  }

  .card-wrapper-grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }

  .is-main {
    font-size: 3rem;
  }

  .hover_image-2 {
    display: none;
  }

  .prjlanding-contain {
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 32%;
  }

  .landingimg-contain {
    justify-content: center;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .image {
    border-radius: 10px;
    flex: 1;
  }

  .container {
    left: 0;
  }
  

  .container.landing {
    flex: 1;
    justify-content: flex-start;
    align-items: stretch;
  }

  .heading-1 {
    margin-bottom: 8px;
    font-size: 48px;
  }

  .heading-1.prjLanding-center {
    text-align: center;
  }

  .heading-1._404 {
    text-align: center;
  }

  .heading-3 {
    font-size: 32px;
  }

  .header-line.orvos-line {
    margin-bottom: 10px;
  }

  .paragraph {
    font-size: 24px;
  }

  .contact {
    flex-direction: column;
    margin-top: 0;
    padding-left: 72px;
    display: flex;
  }

  .intro-contact {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 48px;
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0px; 
    border-right-width: 0px;
  }

  .social {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .heading-2 {
    width: 9ch;
    font-size: 36px;
  }

  .heading-2.sprout-coloured, .heading-2.white {
    width: 100%;
  }

  .contain-social {
    margin-top: 10px;
  }

  .intro {
    padding-top: 124px;
    padding-bottom: 124px;
  }

  .body-sml-text {
    padding-top: 12px;
    font-size: 16px;
  }

  .body-sml-text.card-text {
    max-width: 100%;
    font-size: 16px;
  }

  .body-sml-text.card-text.spacing {
    flex: none;
  }

  .problem-roles {
    padding-top: 24px;
    padding-bottom: 124px;
  }

  .problem-sort {
    padding-left: 0;
    padding-right: 0;
  }

  .position-info-grid {
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    flex-wrap: wrap;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    justify-content: space-between;
  }

  .position-text {
    max-width: 16ch;
  }

  .links {
    text-decoration: underline;
  }

  .challenge {
    padding-top: 264px;
    padding-bottom: 264px;
  }

  .project-text_template {
    padding-top: 0;
    padding-bottom: 16px;
  }

  .work-block {
    margin-top: 48px;
    position: relative;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, .15);
  }

  .intro-container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 164px;
    padding-bottom: 164px;
  }

  .appointments, .low-fi, .visual-design, .scheduler-webapp, .patient-overview, .lab-results {
    margin-top: 48px;
  }

  .footer-content {
    flex-direction: column;
  }

  .other {
    padding-left: 32px;
  }

  .video-2 {
    max-width: 98%;
    margin-top: 13px;
    top: 10%;
  }

  .footer {
    min-height: 100svh;
    padding-top: 48px;
  }

  .utility-page-content {
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }

  .footer-link {
    width: 100%;
    justify-content: flex-start;
  }

  ._404-p {
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
  }

  .landing-page {
    height: 100vh;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 64px;
    padding-bottom: 32px;
  }

  .tags-container.card-pad {
    margin-top: 24px;
  }

  .dino {
    min-width: 30%;
  }

  .project-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .project-card {
    width: 100%;
  }

  .card-animate.orvos {
    background-image: url('../images/Orvos.webp');
    background-position: -500% 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .projectinfo {
    display: none;
  }

  .navbtn---text {
    font-size: 1.2em;
  }

  .text-vwrapper.footer-text {
    width: 100%;
    padding-bottom: 32px;
  }

  .landing-intro {
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0px;
  }

  .card-wrapper-grid {
    grid-template-columns: 1fr;
  }

  .article {
    flex-direction: column-reverse;
    align-items: flex-start;
    display: block;
  }

  .is-main {
    font-size: 2.5rem;
    line-height: 1;
  }

  .prjlanding-contain {
    padding-top: 16%;
  }
}

@media screen and (max-width: 479px) {
  .image {
    flex: 0 auto;
  }

  .image._50 {
    max-width: 50%;
  }

  .container {
    position: relative;
    left: 0;
  }

  .container.sml {
    padding-left: 32px;
    padding-right: 32px;
  }

  .heading-3 {
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 142%;
  }

  .heading-4.orvos {
    font-size: 20px;
  }

  .header-line.orvos-line {
    margin-bottom: 16px;
  }

  .paragraph {
    max-width: 18ch;
  }

  .contact {
    padding-top: 42px;
    padding-left: 0;
    padding-right: 0;
  }

  .intro-contact {
    display: block;
  }

  .social.footer-edits {
    padding-top: 32px;
    padding-left: 0;
  }

  .projects {
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
  }

  .body-lrg-text {
    font-size: 20px;
  }

  .heading-2.white {
    font-size: 28px;
  }

  .contain-social {
    margin-top: 6px;
  }

  .intro {
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .body-sml-text.card-text {
    min-width: auto;
  }

  .problem-roles {
    padding-top: 72px;
  }

  .problem {
    padding-left: 0;
    padding-right: 0;
  }

  .position-info-grid {
    flex-flow: column;
    grid-template-columns: 1fr;
    align-items: stretch;
    padding-top: 48px;
  }

  .position-text {
    max-width: 100%;
    font-size: 18px;
  }

  .project-links {
    width: 100px;
    max-width: 100%;
  }

  .links-text {
    padding-bottom: 12px;
    font-size: 18px;
    text-decoration: underline;
  }

  .work-block {
    margin-top: 72px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    overflow: hidden;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, .15);
  }

  .intro-container {
    align-items: flex-start;
  }

  .nav-wrapper {
    padding-bottom: 8px;
  }

  .footer-content {
    flex-flow: column;
    align-items: flex-start;
  }

  .other {
    padding-top: 32px;
  }

  .video-mockup {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .video-2 {
    margin-top: 0;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 48px;
  }

  .landing-page {
    padding-top: 72px;
  }

  .dino {
    display: none;
  }

  .project-card {
    height: 400px;
    min-height: 400px;
  }

  .card-animate.kivo {
    background-position: 50% 100%;
  }

  .card-animate.orvos, .card-animate.project-l, .card-animate.sdg {
    background-position: 50%;
  }

  .text-vwrapper.footer-text {
    padding-right: 0%;
  }

  .tabs-nav-item {
    padding: 8px 10px;
    font-size: 14px;
  }

  .card-wrapper-grid {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .card-wrapper-grid._2-2 {
    grid-template-columns: 2fr;
  }

  .prjlanding-contain {
    justify-content: center;
    padding-top: 0%;
  }
}

#w-node-b11f1997-fed5-55f7-d494-d3e0ac8593af-0443aec1, #w-node-_4c2ca223-7934-5eb3-4d66-831dac638af0-0443aec1, #w-node-_7fa6a0f6-4581-b2d6-e9fe-399ae97e82f3-0443aec1, #w-node-_2b34db40-56a9-82bb-3af6-30ac3129feab-0443aec1, #w-node-_78ee8fa3-09a1-d205-b5ec-5010759ffdca-0443aec1, #w-node-c1f21a5c-32b3-40f4-27a4-ad762faf6e21-0443aec1 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-a6f6922f-c888-8716-b014-772b908a6371-1d849c90, #w-node-_97918831-2623-5e7a-4d99-ef9f1f273ac5-1d849c90, #w-node-a6f6922f-c888-8716-b014-772b908a6381-1d849c90, #w-node-_5ec738fa-1ca0-2d32-772c-58e92bce5621-1d849c90, #w-node-_7fe07d3c-3147-048a-0281-4e55ee0eeb12-1d849c90, #w-node-a6f6922f-c888-8716-b014-772b908a6379-1d849c90 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b11f1997-fed5-55f7-d494-d3e0ac8593af-df5247a1, #w-node-_4c2ca223-7934-5eb3-4d66-831dac638af0-df5247a1, #w-node-_7fa6a0f6-4581-b2d6-e9fe-399ae97e82f3-df5247a1, #w-node-_21c6b96a-fd0b-57e1-a14e-91d20a104081-df5247a1 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}


